<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}Default title {%endblock%}</title>
    {%block style %}
        <link rel="stylesheet" href= "{{ url_for('static',filename='base.css') }}">
    {%endblock%}
</head>
<body>    
    {% block content%}
    {% endblock %}

    <footer id="footer" class="footer no-highlight">
        <p> 2025 Kévin Sok | Nicolas Stojanovic</p>
    </footer>
</body>
</html>