<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}Default title {%endblock%}</title>
    {%block style %}
        <link rel="stylesheet" href= "{{ url_for('static',filename='base.css') }}">
    {%endblock%}
    {%block script%}
    {%endblock%}
</head>
<body>
    <nav id="navbar" class="no-highlight">
        <a id="mainlogo" href="{{ url_for('index') }}">Code Formatter</a>
        <div id="menu-toggle" onclick="document.getElementById('navbar').classList.toggle('show')">
            &#9776;
        </div>
        <ul>
            <li><a href="{{ url_for('index') }}">Code Formatter</a></li>
            <li><a href="{{ url_for('checker') }}">Convention Checker</a></li>
            <li><a href="{{ url_for('obfuscator') }}">Shader Obfuscator</a></li>
        </ul>
    </nav>
    {% block content%}
    {% endblock %}

    <footer id="footer" class="footer no-highlight">
        <p> 2025 Kévin Sok | Nicolas Stojanovic</p>
    </footer>
</body>
</html>